# =====================
# Python / Backend
# =====================
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.env

backend/uploads/
backend/runs/

# YOLO models (NEVER COMMIT)
models/
backend/models/

# =====================
# Frontend
# =====================
front-end/node_modules/
front-end/build/
front-end/dist/

# =====================
# Archives
# =====================
*.zip

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
